.header {
  padding-block: 1.25rem;
  background: var(--white);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.header-nav {
  display: none;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-icons > * {
  display: none;
}

.header-iconMenu {
  display: block;
}

@media screen and (min-width: 425px) {
  .header-iconShopping {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .header-icons {
    gap: 1rem;
  }

  .header-icons > * {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .header-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .header-link {
    text-transform: uppercase;
    color: var(--black);
    font-size: 1rem;
    font-family: var(--fontFamily);
    transition: color 0.3s;
  }

  .header-link[aria-current="page"] {
    color: var(--coral);
  }

  .header-link:hover {
    color: var(--coral);
  }
}
