.list {
  padding-block: 2rem;
}

@media screen and (min-width: 630px) {
  .list-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    justify-content: center;
    gap: 1rem;
  }
}
