@import "./header.css";
@import "./hero.css";

:root {
  font-size: 16px;
  --fontFamily: "Inter", sans-serif;
  --titleOne: 400 2.5rem/1.2 var(--fontFamily);
  --titleTwo: 400 2rem/1.2 var(--fontFamily);
  --titleThree: 400 1.75rem/1.2 var(--fontFamily);
  --titleFour: 400 1.5rem/1.2 var(--fontFamily);
  --baseFont: 400 1rem/1 var(--fontFamily);
  --button: 900 1rem/1.2 var(--fontFamily);
  --primary: #f5f5f5;
  --secondary: #f0f0f0;
  --coral: #e5442d;
  --gray: #494949;
  --heroColor: #e9e5e2;
  --white: #fffffe;
}

/* GLOBALES */

body {
  margin: 0;
  font: var(--baseFont);
  color: var(--gray);
}

a {
  text-decoration: none;
}

h1 {
  font: var(--titleOne);
}

h2 {
  font: var(--titleTwo);
}

h3 {
  font: var(--titleThree);
}

h4 {
  font: var(--titleFour);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.wrapper {
  max-inline-size: 75rem;
  margin: auto;
  padding-inline: 1rem;
  box-sizing: border-box;
}

@media screen and (min-width: 1500px) {
  .wrapper {
    max-inline-size: 85.375rem;
  }
}

.button {
  background: var(--coral);
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  font: var(--button);
  border: none;
  padding-block: 0.875rem;
  cursor: pointer;
  transition: scale 0.3s;
}

.button:hover {
  scale: 0.9;
}
